.table {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.row {
  display: flex;
}

.item {
  border: 1px solid black;
  padding: 1rem;
}

button {
  margin: 1rem;
  max-width: 20rem;
}

#container {
  padding: 2rem 10rem;
}

.select {
  width: 20rem;
}