* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  height: 100%;
}

body {
  background-image: url('/img/flight.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  color: black;
  text-align: center;
  font-size: 40px!important;
}